html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tfoot,thead{ margin:0; padding:0; border:0; outline:0; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:#000; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th{ text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

body{
FONT-FAMILY: Arial, Helvetica, sans-serif; 
position:relative;
text-align:center;
}

/*HOME*/

#header_box{margin-left: auto;margin-right: auto;width:980px;height:363px;} 
#headerlogo {float:left; margin-top:33px;margin-left:52px; width:200px;height:40px;}  
#headermenu {margin-left: auto;margin-right: auto;width:980px;height:46px;}  


#maincontent{ position:relative;margin-right: auto;margin-left: auto;width:978px;height:auto!important;min-height:500px;height:500px; background-color:#FFFFFF;border-left: 1px solid #F99A00;border-right: 1px solid #F99A00; }
#maincontent_left {float:left; margin-left:45px; width:820px;height:auto!important;min-height:500px;height:500px; }  
#maincontent_left h1{font-size: 32px;color: #494949;text-decoration: none; height:108px;line-height: 108px;text-align:left;}
#maincontent_left p{float:left;font-size:10pt;color: #494949;text-decoration: none; width:600px;line-height:30px;text-align:left;}

#maincontent_right { position:absolute;left:679px;top:-30px; margin-top:80px;width:300px;height:200px;}  

#footer_topbg{margin-right: auto;margin-left: auto;width:978px;height:58px;border-left: 1px solid #F99A00;border-right: 1px solid #F99A00; background-image:url(../pics/pagebottombg.gif) }
#footer_mid{position:relative;margin-right: auto;margin-left: auto;width:980px;height:100px; background-color:#F99A00 }
#footer_midtel{position:absolute;left:635px;top:-150px;}
#footer{margin-right: auto;margin-left: auto;width:936px;height:60px;}
#footer_line30{margin-right: auto;margin-left: auto;width:978px;height:30px; background-color:#EF6322;border-left: 1px solid #F99A00;border-right: 1px solid #F99A00; }
#footer_bottom{margin-right: auto;margin-left: auto;width:928px;height:100px; line-height:20px; background-color:#F0F0F0;border-left: 1px solid #F99A00;border-right: 1px solid #F99A00;border-bottom: 1px solid #F99A00;font-size: 9pt;color: #888888; text-align:left; padding-left:50px;}
#footer_end{margin-right: auto;margin-left: auto;width:978px;height:20px; background-color:#C0C0C0;}

/*END HOME*/

/* about*/
#aboutcontent{ position:relative;margin-right: auto;margin-left: auto;width:978px;height:auto!important;height:500px;min-height:500px;overflow:hidden;
zoom:1; background-color:#FFFFFF;border-left: 1px solid #F99A00;border-right: 1px solid #F99A00; }
#aboutcontent_left {float:left; margin-left:45px;margin-top:60px; width:630px;height:auto!important;height:500px;min-height:500px; }  
#aboutcontent_left h1{font-size: 32px;color: #FF7900;text-decoration: none; height:55px;line-height:55px;text-align:left;}
#aboutcontent_left h2{font-size: 25px;color: #FF7900;text-decoration: none; height:40px;line-height:55px;text-align:left;}
#aboutcontent_left p{font-size: 10pt;color: #494949;text-decoration: none;line-height:20px;text-align:left;}
#aboutcontent_right { position:absolute; right:0px;float:right; margin-top:60px;width:300px;height:200px;}  

#aboutcontent_left2 {float:left; margin-left:45px;margin-top:60px; width:680px;height:auto!important;height:500px;min-height:500px; }  
#aboutcontent_left2 h1{font-size: 32px;color: #FF7900;text-decoration: none; height:55px;line-height:55px;text-align:left;}
#aboutcontent_left2 h2{font-size: 25px;color: #FF7900;text-decoration: none; height:40px;line-height:55px;text-align:left;}
#aboutcontent_left2 p{font-size: 10pt;color: #494949;text-decoration: none;line-height:20px;text-align:left;}

/*END about*/

.clear {
	clear: both;
}

/*字体*/
.txt {font-size: 10pt;color: #494949;text-decoration: none;line-height: 20px;text-align:left;}

.txt_red {font-size: 12pt;color: #F84115;text-decoration: none;line-height: 20px;text-align:left;}

.txt_black {color:#494949;font-size: 12px;font-weight:bold; line-height:30px;}
.maincontent_txt{line-height:20px;text-align:center;color:#696969;font-size: 12px; font-family:"宋体";}

.txtdir {font-size: 9pt;color: #494949;text-decoration: none;line-height: 23px;text-align:left; font-weight:bold}

.link_01 {	font-size: 9pt;	color: #FF9999;	text-decoration: none;	font-weight: normal;}
a.link_01:hover {  color: #FF9999; text-decoration: underline}
.link_02 {font-size: 9pt;color: #52A155;text-decoration: none;line-height: 20px;text-align:left;}
a.link_02:hover {background: #FFF4F4;text-decoration: none;font-size: 10pt;color: #494949;}
.link_03 {font-weight: normal;;color: #949494;text-decoration: none;;text-align:left;}
a.link_03:hover {text-decoration: none;}
.link_04 {font-size: 9pt;font-weight: normal;;color: #949494;text-decoration: none;;text-align:left;}
a.link_04:hover {font-size: 9pt;font-weight: normal;color: #FFB50C;text-decoration: underline;}
.link_04_1 {font-size: 10pt;font-weight: normal;;color: #FFB50C;text-decoration: underline;;text-align:left;}
a.link_04_1:hover {font-size: 10pt;font-weight: normal;color: #FFB50C;text-decoration: underline;}


.link_navi {font-size: 9pt;	color: #494949;	text-decoration: none;	font-weight: normal;}
a.link_navi:hover {  color: #494949; text-decoration: underline}

.link_navi_red {font-size: 9pt;	color: #FF0000;	text-decoration: none;	font-weight: normal;}
a.link_navi_red:hover {  color: #FF0000; text-decoration: underline}

.link_navi_1 {	font-size: 9pt;	color: #494949;	text-decoration: none; font-weight:bold}
a.link_navi_1:hover {  color: #494949; text-decoration: underline}

.link_aboutnavi {font-size: 9pt;color: #494949;	text-decoration: none;	font-weight: normal;}
a.link_aboutnavi:hover {  color: #FF0000; text-decoration: underline}

.link_navi_lang {font-size: 9pt;	color: #AAA9A9;	text-decoration: none;	font-weight: normal;}
a.link_navi_lang:hover {  color: #AAA9A9; text-decoration: underline}

.link_navitop {	font-size: 9px;	color: #848484;	text-decoration: none;	font-weight: normal;}
a.link_navitop:hover {  color: #E95134; text-decoration: none}

.input_01 { COLOR: #494949; BACKGROUND-COLOR: #F7F7F7; font-size: 9pt; border: 1px solid #D1D1D1; } 
.input_02{ COLOR: #7D7D7D; BACKGROUND-COLOR: #FFFFFF; font-size: 9pt; border: 1px solid #8E8E8E; } 
.input_03{ COLOR: #000000; BACKGROUND-COLOR: #d4d0c8; font-size: 9pt;margin:2px 2px 2px 0px;} 


/*pop*/
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(images/info.gif);
}

#popup_content.confirm {
	background-image: url(images/important.gif);
}

#popup_content.prompt {
	background-image: url(images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
#popup_panelbbs {
	text-align: left;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}


#popup_container.style_1 {
				font-family: Georgia, serif;
				color: #000;
				background: #fff;
				border: solid 5px #FFB60F;
}
			
#popup_container.style_1 #popup_title {
				color: #494949;
				font-weight: normal;
				text-align: left;
				background: #EAEAEA;
				border: solid 1px #EAEAEA;
				padding-left: 1em;
}
			
#popup_container.style_1 #popup_content {
				background: none;
}
			
#popup_container.style_1 #popup_message {
				padding-left: 0em;text-align: left;
}
#popup_container.style_1 p{
margin-top:10px;
margin-bottom:0px;
vertical-align:middle;
}
			
#popup_container.style_1 INPUT[type='button'] {
				color: #494949;
				background: #cccccc;
}
#scripthiddle {	VISIBILITY: hidden}